*{
 cursor: none; 
}
.App{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
background-color: brown;
}

.title{
  font-size:  10rem; 
  
}

.cursor{
  
  position: fixed;
  top: 0;
  left: 0;
  background: #666;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  pointer-events: none;
}
